body{
  margin: 0;
  text-align: center;
  background-color: #c2e6e3;
}

h1{
  margin: 0;
  font-family: 'Allura', cursive;
  font-size: 4em;
}

p{
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 150%;
  color: #40514E;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #66bfbf;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  margin-top: 50px;
  width: 5%;
  border: dotted #77c5c5 10px;
  border-bottom: none;
}

.top{
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 630px;
}

.felirat{
  width: 100%;
  height: 180px;
  display: block;
}

.szoveg{
  margin: 0 auto;
  padding: 90px;
  width: 400px;
  height: 90px;
  vertical-align: middle;
}

.fent{
  width: 150px;
  height: 150px;
  padding-top: 50px;
  float: right;
}

.lent{
  width: 150px;
  height: 150px;
  float: left;
}

.middle{
  width: 800px;
  height: 400px;
  margin: 50px auto 0;
}

.portre{
  width: 150px;
  height: 150px;
}

.keszseg{
  width: 800px;
  height: 500px;
  margin: 0 auto;
  text-align: left;
}

.kesz{
  margin-top: 90px
}

.bottom{
  width: 800px;
  height: 400px;
  margin: 50px auto 0;
  text-align: right;
}

.hobbi{
  width: 800px;
  height: 300px;
  margin: 50px auto 0;
  text-align: left;
}

.kep{
  width: 170px;
  height: 170px;
  margin: 50px;
}
